<div class="view jarallax"  style=" background: linear-gradient(to top left, white, #53bbbe);">
  <div class="overlay">
    <div class="mask rgba-black-light d-flex justify-content-center align-items-center vh-100" >
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12 mb-4">
            <a routerLink="/dashetudiant/rapport" class="btn btn-outline-light mx-2 img-link" data-delay="0.4s" >
              <img class="figure-img img-fluid rounded img-thumbnail mb-2" src="../../../../assets/rapport2.jpeg" alt="Rapport"/>
              <div style="color: #00458b;">Rapport</div>
            </a>
            <a routerLink="/dashetudiant/attestation" class="btn btn-outline-light mx-2 img-link" data-delay="0.4s">
              <img class="figure-img img-fluid rounded img-thumbnail mb-2" src="../../../../assets/attestation2.png" alt="Attestation" />
              <div style="color: #00458b;">Attestation</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
