<br>
<div class="container">
  <h2 style="text-align: center;color: #00458b;">Affecter Note</h2><br><br>
  <form class="row">
    <div class="col-md-6">
      <input type="text" formControlName="searchValue" class="form-control" placeholder="Nom Prenom "  /><br>
    </div>
    <div class="col-md-3">
      <button
        style="background-color: #00458b; border-color: #00458b;" type="submit" class="btn btn-primary btn-block" >
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>
  </form>
</div>

<hr style="color: #00458b; opacity: 5.25" />
<div class="container">
  <div class="table-wrapper">
    <table class="table table-striped table-hover">
      <thead>
        <tr> 
          <th style="color: #00458b;">Nom Etudiant</th>
          <th style="color: #00458b;">Classe</th>
          <th style="color: #00458b;">Note</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Rouissi Salma</td>
          <td>DSI202</td>
          <td>
            <form >
              <input type="number" max="20" min="0"> /20
            </form>
          </td>
        </tr>
        <tr>
          <td>Bouchaala Abdelatif</td>
          <td>DSI202</td>
          <td>
            <form >
              <input type="number" max="20" min="0"> /20
            </form>
          </td>
        </tr>
        <tr>
          <td>Ben Romdhane Feres</td>
          <td>DSI202</td>
          <td>
            <form >
              <input type="number" max="20" min="0"> /20
            </form>
          </td>
        </tr>
        <tr>
          <td>Ben Dhafer Nesrine</td>
          <td>DSI202</td>
          <td>
            <form >
              <input type="number" max="20" min="0"> /20
            </form>
          </td>
        </tr>
        <tr>
          <td>Mokdad Anas</td>
          <td>DSI202</td>
          <td>
            <form >
              <input type="number" max="20" min="0"> /20
            </form>
          </td>
        </tr>

      </tbody>
    </table>
  </div>
</div>

