<div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('../../../assets/admin.jpeg'); background-repeat: no-repeat; background-size: cover; background-position: center center; color: white;">
  <div class="overlay">
    <div
      class="mask rgba-black-light d-flex justify-content-center align-items-center">
      <div class="container" style="margin-top: 15%">
        <div class="row">
          <div class="col-md-12 mb-4 white-text text-center">
            <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5" data-delay="0.3s">
              <strong>Username Admin</strong>
            </h1><br>
            <h5 class="text-uppercase mb-4 white-text" data-delay="0.4s">
              <strong>Welcome Back !</strong>
            </h5>
            <a routerLink="/dashadmin/listerEtudiant" class="btn btn btn-outline-light ms-2" data-delay="0.4s"><i class="fa fa-list ms-2"></i><span class="ms-2">Lister Etudiant</span></a>
            <a routerLink="/dashadmin/listerJury" class="btn btn btn-outline-light ms-2" data-delay="0.4s"><i class="fa fa-list ms-2"></i><span class="ms-2">Lister Jury</span></a>
            <a routerLink="/dashadmin/listerEntreprise" class="btn btn btn-outline-light ms-2" data-delay="0.4s"><i class="fa fa-list ms-2"></i><span class="ms-2">Lister Entreprise</span></a>
            <a routerLink="/dashadmin/depotAffectation" class="btn btn btn-outline-light ms-2" data-delay="0.4s"><i class="fa fa-file-lines ms-2"></i><span class="ms-2">Depot lettre d'affectation</span></a>
            <a routerLink="/dashadmin/ajoutEntreprise" class="btn btn btn-outline-light ms-2" data-delay="0.4s"><i class="fa fa-plus ms-2"></i><span class="ms-2">Ajouter Entreprise</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

